-@ var packageName:String
-@ var table:psyco.db.TableInfo
package #{packageName};
public class #{table.className} implements Serializable {

-for(col <- table.columns)
private #{col.javaType} #{col.fieldName};
}